# Ignore all data files
data/replays/*.replay
data/json/*.json
data/processed/*.csv
data/processed/*.parquet

# keep a game for testing
!data/replays/KC_VIT_PARIS_G4.replay

# Python environment
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
venv/
.venv/

# Node environment
node_modules/
npm-debug.log*
yarn-error.log*
.svelte-kit/
dist/

# Local Data Storage
data/
pgdata/

# OS and IDE files
.DS_Store
.vscode/
.idea/
.env

notes.md
test.json